body {
    background-color: darkseagreen;
}

/* Center the header */
header h1 {
    text-align: center;
    background-color: green;
}

/* create divisors between the inline checkboxes */
.form-check-inline {
    border-right: 4px gray inset;
    border-left: 4px gray inset;
    padding: 0px 4px;
}

/* add padding between the button and the alert */
button {
    margin-bottom: 10px;
}

/* makes the alert invisible before it is needed */
.alert {
    display: none;
    overflow-wrap: break-word;
}

#secretElement {
    display: none;
}